<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= genre.name %> Details</title>
    <link rel="stylesheet" href="/genreDetails.css" />
  </head>
  <body>
    <h1>Genre: <%= genre.name %></h1>

    <h2>Movies in this Genre:</h2>
    <% if (movies.length > 0) { %>
    <ul>
      <% movies.forEach(movie => { %>
      <li>
        <span>
          <%= movie.title %> (<%= movie.release_year %>) - Directed by <%=
          movie.director %>
        </span>
        <a href="/genres/<%=genre.name%>/<%=movie.title%>/details"
          >View Details</a
        >
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No movies in this genre yet.</p>
    <% } %>

    <div class="buttons-container">
      <% if (genre && genre.name) { %>
      <a href="/genres/<%= genre.name %>/new" class="action-button"
        >Add New Movie</a
      >
      <% } %>
      <form
        action="/genres/<%= genre.name %>/delete"
        method="post"
        onsubmit="return confirm('Are you sure you want to delete this genre?');"
      >
        <button type="submit" class="delete-button">Delete Genre</button>
      </form>
      <a href="/genres" class="action-button">Back to Genres</a>
    </div>
  </body>
</html>
